<div class="row">
    <article *ngFor="let article of articleService.getData()" class="col-4">
        <div class="card my-3">
            <h2 class="card-header">
                {{article.titre}}
            </h2>
            <img [src]="article.url" alt="">
            <div class="card-body">
                {{article.contenu}}
            </div>
            <footer class="card-footer text-end">
                <a [routerLink]="['/articles', article.id]" class="btn btn-outline-primary btn-sm">lire la suite ...</a>
            </footer>
        </div>
    </article>
</div>