<p>two-way {{ valeur }}</p>
<input type="text" [(ngModel)]="valeur"/>

<!-- besoin d'une variable  
dans la partie vue du composant on vautiliser une directive spéciale 
[(ngModel)]  => banane dans une boite 
// si vous éffectuez une modification de la valeur dans la vue => modifier la valeur dans la class SANS avoir à créer une fonction qui va modifier la vue 
automatiquement mettre à jour la vue 
envoyé vue => class class=> vue 
// pas besoin de créer une méthode pour déclencher la  mise à jour 

// cas pratique créer le composant exo4
// ng g c exo4
// menu déoulant qui contient 3 valeurs : france / allemagne / espagne 
// lorque vous modifier la valeur du select => impacter la class ET mettre ajout une propriété pays 

//dans la vue afficher le pays sélectionné dans le sélect 


-->